body {
  text-align: center;
  background-color: #401863;
  color: #BBB;
  font-size: 1em;
  width:80%;
  margin: auto;
  font-family: 'Arvo', serif;
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Ubuntu Condensed', sans-serif; */
}

.App-header {
  background-image: url("https://i.imgur.com/AWU8AH7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #BBB;
  font-family: 'Pacifico', cursive;
  height: 70px;
  padding: 10px;
  color: #FFF;
  margin: 20px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}

.App-title {
  font-size: 2em;
  padding-top: 0;
  margin-top: -5px;
}

.App-intro {
  font-size: large;
}

/* general styling */

p{
  font-size: .5em;
}

canvas{
  width: 100% !important;
  height: auto !important;
}

.chart{
  width: 400px;
  height: auto;
}

.nav a, .nav button{
  text-decoration: none;
  font-size: .75em;
  padding: 0 30px;
  background-color: #401863;
  color: #BBB;
  margin-top: -25px;
  border-style:none;
  width: 30%;
}

.mini-icon{
  border-radius: 60px;
  width: 25%;
  height: 25%;
}

.mini-icon img{
  object-fit: cover;
}

/* table styling */

table{
  margin: auto;
  padding: 30px;
  text-align: left;
}

th{
  background-color: #BBB;
  color: #401863;
  padding: 5px;
  font-size: .75em;
  border-radius: 3px;
}

td{
  font-size: .75em;
  padding: 5px;
}

tr{
  color: #BBB;
  background-color: #452368;
}

tr:nth-child(even) {
  background-color: #BBB;
  color: #401863;
}


/* form styling */
form{
  width: 80%;
  margin-left: 5%;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}

input{
  color: #401863;
  background-color: #BBB;
  width: 70%;
  margin: 8px 5px;
  border-style: none;
  padding: 3px;
  border-radius: 3px;
}

input[type=text]{
    float:right;
}

.basic-info, .blankets, .user-info, .supplements, .barn-info, .images, .amenities, .tack, .login-form, .meal-form{
  width:100%;
  text-align: center;
}

.login-form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.errors{
  color: red;
  font-size: 1em;
}

.login-form input{
  width: 60%;
  margin:5px 18%;
}
.login-flow button{
  width: 31%;
  margin:5px 37%;
}

.blanket{
  display:flex;
  align-items: center;
  width:100%
}

.blanket input[type=text], .blanket select{
  width: 45%;
}

.form-label{
  width: 100%;
  background-color: rgb(187, 187, 187, .5);
  font-size: .75em;
  color: #401863;
  margin:2px 5px 0 40px;
  border-radius: 2px;
}
.form-sublabel{
  width: 100%;
  font-size: .75em;
}

button, input[type=submit], a{
  color: #401863;
  background-color: #BBB;
  border-radius: 5px;
  width: 41%;
  margin: auto;
  font-family: 'Arvo', serif;
  border-style:none;
}

#already-user {
  margin-right: 10%;
}

input[type=checkbox]{
  font-size: 1em;
  width: 3%
}

select{
  width: 40%;
  background-color: #BBB;
  border-style: none;
  color: #401863;
  float:right;
  margin-right: 19%;
  margin-top: 5px;
}

.shorter-input{
  width: 54%;
}

.plus-button{
  width: 25px;
  padding-right: 8px;
  text-align: center;
  margin: 5px;
}

.tack input[type=text]{
  float:left;
  margin:auto;
}

.array, .barn-extra-info-card ul{
  list-style-type: none;
}

.vet-info, .farrier-info{
  width:80%;
  margin:5%;
}

.vet-info select, .farrier-info select{
  float:none;
  margin:auto;
}

/* card styling */

.horse-list, .barn-list, .user-list, .meal-chart, .stall-list, .tack-list, .supply-list, .meal-list, .blanket-list{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:auto;
  margin-top: 30px;
  width: 80%;
}

.stall-count{
  margin-top: 5px;
  font-size: 1em;
  width: 100%;
}

.weather{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* box-shadow: 0 0 10px black; */
  width: 40%;
  /* background-color: #BBB; */
  /* border-radius: 15px; */
  color: #BBB;
  font-family: 'Arvo', serif;
  margin: auto;
  font-size:.75em;
}

.weather img, .weather h5{
  margin: 0;
  padding:0;
}

.stall-card-full{
  width: 10%;
  height: 40px;
  background-color: #BBB;
  padding: 5px;
  margin: 2px;
  color: #401863;
  font-size: .75em;
}

.supply{
  width: 15%;
  height: auto;
  background-color: #BBB;
  padding: 5px;
  margin: 2px;
  color: #401863;
}

.meal-card{
  width: 1fr;
  height: auto;
  background-color: #BBB;
  padding: 5px;
  margin: 10px;
  color: #401863;
}

.meal-card-edit{
  width: 2fr;
  height: auto;
  background-color: #BBB;
  padding: 5px;
  margin: 2px;
  color: #401863;
}


.supply button, .meal-card button{
  width:100%;
  background-color: #401863;
  color: #BBB;
}

.supply-button, .meal-button{
  width: 100%;
}

.stall-card{
  width: 10%;
  height: 40px;
  background-color: #452368;
  padding: 5px;
  margin: 2px;
  color: #BBB;
}

.user-card{
   width: 30%;
   background-color: #BBB;
   border-radius: 15px;
   color: #401863;
   font-family: 'Arvo', serif;
 }

 .horse-card, .barn-card{
   position: relative;
   box-shadow: 0 0 10px black;
   width: 20%;
   height: 120px;
   background-color: #BBB;
   border-radius: 15px;
   color: #401863;
   font-family: 'Arvo', serif;
   margin: 15px;
 }
 .barn-extra-info-card{
   position: absolute;
   right:-5px;
   bottom: -5px;
   box-shadow: 0 0 10px black;
   width: 50%;
   height: 115px;
   padding-top: 5px;
   background-color: #828282;
   border-radius: 0 15px  15px 0px;
   color: #BBB;
   font-family: 'Arvo', serif;
   font-size: .75em;
   margin: 5px;
 }

 .barn-extra-info-card h5{
   background-color: #585858;
   padding:0;
   margin:0;
   position: absolute;
   top:10px;
   width:100%;
 }

 .barn-extra-info-card ul{
   font-size:.75em;
   position: absolute;
   top:20px;
   right: 4%;
   width: 100%;
 }

 .chosen-barn-card{
   width: 40%;
   height: 120px;
   background-color: #BBB;
   border-radius: 15px;
   color: #401863;
   font-family: 'Arvo', serif;
   margin: 5px;
   position: relative;
   box-shadow: 0 0 10px black;
 }

.horse-card img, .barn-card img, .chosen-barn-card img{
  width: 100%;
  background-size: contain;
  height: 90px;
  position: absolute;
  bottom:0;
  left:0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px black;
}

.barn-img{
  width: 20%;
  background-size: contain;
  height: 90px;
  bottom:0;
  left:0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px black;
}

.chosen-barn-card img{
  width:50%;
  border-radius: 0 0 0px 10px;

}

.horse-card h1, .barn-card h1, .chosen-barn-card h1{
  font-size: 65%;
  border-radius: 10px;
}

.chosen-barn-card h1{
  float:left;
  padding-left: 5px;
}

.horse-card-report{
  width: 100%;
}

.horse-show-image{
  float:left;
  width: 40%;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.label{
  width:10%;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60%;
    height: 35px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Accordion style for Dashboard Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #BBB;
    color: #401863;
    cursor: pointer;
    padding: 5px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 5px auto;
    border-radius: 5px;
}

.plus-accordion{
  float:right;
  padding-right: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 10px;
    display: none;
    overflow: hidden;
}

.horse-info{
  float: right;
  width: 45%;
}
.horse-show-panel p{
  font-size: .75em;
}

input:hover{
  background-color: #AAA;
  box-shadow: 0 0 10px #FFF;
  border-radius: 3px;
  padding-bottom: 3px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.barn-card:hover, .horse-card:hover, .accordion:hover, button:hover, a:hover, input[type=submit]:hover {
  animation: wobble infinite 2s linear;
}

@keyframes wobble {
  33% {
  transform: translateX(-2px);
  }
  66% {
  transform: translateX(2px);
  } }
