body {
  text-align: center;
  background-color: #401863;
  color: #BBB;
  font-size: 1em;
  width:80%;
  margin: auto;
  /* font-family: 'Arvo', serif;
  font-family: 'Pacifico', cursive; */
  font-family: 'Ubuntu Condensed', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #BBB;
  font-family: 'Pacifico', cursive;
  height: 70px;
  padding: 10px;
  color: #401863;
  margin: 20px;
  width: 85%;
  border-radius: 15px;
  box-shadow: 0 0 10px #BBB;
}

.App-title {
  font-size: 1em;
  padding: 5px;
}

.App-intro {
  font-size: large;
}

/* general styling */

p{
  font-size: .5em;
}

canvas{
  width: 100% !important;
  height: auto !important;
}

.chart{
  width: 400px;
  height: auto;
}

.nav a, .nav button{
  text-decoration: none;
  font-size: .75em;
  padding: 0 30px;
  margin: 3px;
  background-color: #401863;
  color: #BBB;
  border-style:none;
  width: 30%;
}

.mini-icon{
  border-radius: 60px;
  width: 25%;
  height: 25%;
}

.mini-icon img{
  object-fit: cover;
}

/* table styling */

table{
  margin: auto;
  padding: 30px;
  text-align: left;
}

th{
  background-color: #BBB;
  color: #401863;
  padding: 5px;
  font-size: .75em;
  border-radius: 3px;
}

td{
  font-size: .75em;
  padding: 5px;
}

tr{
  color: #BBB;
  background-color: #452368;
}

tr:nth-child(even) {
  background-color: #BBB;
  color: #401863;
}


/* form styling */

input{
  color: #401863;
  background-color: #BBB;
  width: 60%;
  margin: 8px 0;
}

button, input[type=submit], a{
  color: #401863;
  background-color: #BBB;
  border-radius: 5px;
  width: 41%;
  margin: 8px 0;
  font-family: 'Arvo', serif;
  border-style:none;
}

input[type=checkbox]{
  font-size: 1em;
  width: 3%
}

.shorter-input{
  width: 54%;
}

.plus-button{
  width: 25px;
  padding-right: 8px;
  text-align: center;
  margin: 5px;
}

/* card styling */

.horse-list, .barn-list, .user-list, .stall-list, .tack-list, .supply-list, .meal-list{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:auto;
  margin-top: 30px;
  width: 80%;
}

.stall-count{
  margin-top: 5px;
  font-size: 1em;
  width: 100%;
}

.horse-card, .barn-card{
  box-shadow: 0 0 10px #BBB;
  width: 20%;
  background-color: #BBB;
  border-radius: 15px;
  color: #401863;
  font-family: 'Arvo', serif;
  margin: 5px;
}

.stall-card-full{
  width: 10%;
  height: 40px;
  background-color: #BBB;
  padding: 5px;
  margin: 2px;
  color: #401863;
  font-size: .75em;
}

.supply{
  width: 15%;
  height: auto;
  background-color: #BBB;
  padding: 5px;
  margin: 2px;
  color: #401863;
}

.meal-card{
  width: 1fr;
  height: auto;
  background-color: #BBB;
  padding: 5px;
  margin: 2px;
  color: #401863;
}

.meal-card-edit{
  width: 2fr;
  height: auto;
  background-color: #BBB;
  padding: 5px;
  margin: 2px;
  color: #401863;
}


.supply button, .meal-card button{
  width:100%;
  background-color: #401863;
  color: #BBB;
}

.supply-button, .meal-button{
  width: 100%;
}

.stall-card{
  width: 10%;
  height: 40px;
  background-color: #452368;
  padding: 5px;
  margin: 2px;
  color: #BBB;
}

.user-card{
   width: 30%;
   background-color: #BBB;
   border-radius: 15px;
   color: #401863;
   font-family: 'Arvo', serif;
 }

.horse-card img, .barn-card img{
  width: 85%;
  border-radius: 10px;
  box-shadow: 0 0 10px #BBB;
}

.horse-card h1, .barn-card h1{
  font-size: 65%;
  border-radius: 10px;
}

.horse-card-report{
  width: 100%;
}

.horse-show-image{
  float:left;
  width: 40%;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #BBB;
}

.label{
  width:10%;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60%;
    height: 35px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Accordion style for Dashboard Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #BBB;
    color: #401863;
    cursor: pointer;
    padding: 5px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 5px auto;
    border-radius: 5px;
}

.plus-accordion{
  float:right;
  padding-right: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 10px;
    display: none;
    overflow: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
